body {
    margin: 5% 10%;
    color: #282A2E;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:300;
    font-size: 18px;
}
pre {
    padding: 10px 15px 15px 15px;
    font-family: 'Source Code Pro', sans-serif;
    font-weight:400;
    font-size: 13px;
    width:626px;
}
h1 {
    margin: 0px 0px 30px 0px;
}
a {
    text-decoration: none;
    color: #81A2BE;
}
a:visited {
    color: #81A2BE;
}
a:hover { color: #CC6666; } 
.block {
    display: inline-block;
    padding: 19px 13px;
 }
